@{
    ViewBag.Title = "Логин некорректен";
}

<h2>Логин некорректен</h2>
<p>Пользователь с таким логином не зарегистрирован в системе либо e-mail адрес не указан. Попробуйте @Html.ActionLink("еще раз", "ResetPassword") или @Html.ActionLink("зарегистрируйтесь", "Register")</p>
