@{
    ViewBag.Title = "Пароль изменен";
}

<h2>Пароль успешно изменен</h2>
<p>Восстановление вашего пароля прошло успешно. Пожалуйста, @Html.ActionLink("войдите", "Login", "Account", new { Area = "" }, htmlAttributes: new { id = "loginLink" }), используя новый пароль.</p>
