@{
    ViewBag.Title = "Ошибка";
}

<h2>Не удалось восстановить пароль</h2>
<p>Произошла ошибка при восстановлении пароля. Возможно, Вы ввели не существующий логин. Пожалуйста, попробуйте @Html.ActionLink("еще раз", "ResetPassword").</p>
