@{
    ViewBag.Title = "Завершение восстановления пароля";
}

<h2>Восстановление пароля</h2>
<p>Для завершения восстановления пароля следуйте инструкциям в письме, отправленном на указаный при регистрации e-mail.</p>
