@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<h3>Есть вопросы или предложения? Пишите нам! <br /><a href="mailto:solomon.mesi.ru@gmail.com" >solomon.mesi.ru@gmail.com</a></h3>

<section class="contact">
    @*<header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>my main phone</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>*@
</section>

<section class="contact">
    @*<header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:marat.alborov@gmail.com">my email</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>*@
</section>

<section class="contact">
    @*<header>
        <h3>Address</h3>
    </header>
    <p>
        my address
    </p>*@
</section>