@{
    Layout = "~/Views/UserMailer/_Layout.cshtml";
}
<p>Привет @ViewBag.UserName!</p>
Для восстановления пароля, пожалуйста, пройдите по <a href="http://solomon.mesi.ru/Account/ResetPasswordConfirmation/@ViewBag.ConfirmationToken">ссылке</a>