@{
    ViewBag.Title = "Регистрация завершена";
}

<h2>Регистрация завершена</h2>
<p>Вы успешно зарегистрировались в системе. Для входа пройдите по @Html.ActionLink("ссылке", "Login", "Account", null, htmlAttributes: new { id = "loginLink" })</p>