/*************************************
* Begin Membership Styles
*************************************/

/*************************************
* End Membership Styles
*************************************/



/*************************************
* Begin Roles Styles
*************************************/

#role-column-left, #role-column-right
{
    float: left;
    width: 45%;
    margin-right: 20px;
}

/*
#users-in-role-div ul
{
    list-style-type: none;
}
*/
/*************************************
* End Roles Styles
*************************************/


/* Styles for editor and display helpers
----------------------------------------------------------*/
