@{
    Layout = "~/Views/UserMailer/_Layout.cshtml";
}

<p>Привет @ViewBag.UserName!</p>
Для завершения регистрации, пожалуйста, пройдите по <a href="http://solomon.mesi.ru/Account/RegisterConfirmation/@ViewBag.ConfirmationToken">ссылке</a>